body{
	margin: 0;
	padding: 0;
	font-family: Calibri, serif;
}

nav{
	width: 100%;
	background-color: #c03b26;
}

nav > ul{
	margin: 0;
	padding: 0;
}

nav li{
	list-style-type: none;
}

nav > ul::after{
	content: "";
	display: block;
	clear: both;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav b{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{
	float: left;
	position: relative;
	padding: 20px 30px;
	color: #FFF;
}

nav > ul > li > b{
	float: right;
	position: relative;
	padding: 20px 30px;
	color: #FFF;
	background-image:url("bulleted-list.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center center;
}

.submenu{
	display: none;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 0;
	z-index: 10000;
}

.submenu li{
	border-bottom: 1px solid #c03b26;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #c03b26;
	width: 200px;
}

footer{
	background: #ebebeb;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: solid 10px #c03b26;
}

footer > ul{
	margin: 0;
	padding: 0;
}

footer p{
	float: right;
}

footer > ul > li{
	list-style-type: none;
	float: right;
	position: relative;
	padding: 20px 20px;
	color: #FFF;
}

.fa {
  padding: 30px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ebebeb;
}

.row:after {
    content: "";
    display: table;
    clear: both;