body {
	margin: 0;
}

.topbar {
	list-style-type: none;
	position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    background-color: #c03b26;
}

.topbar li a {
	float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topbar li b {
	background-image: url('bulleted-list.png');
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 14px;
    margin-right: 10px;
    position: relative;
    width: 14px;
}