body{
	margin: 0;
	padding: 0;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
}

nav{
	width: 100%;
	background-color: #c03b26;
	margin-top: 0px;
}

.navhome{
	position: fixed;
}

nav > ul{
	margin: 0;
	padding: 0;
}

nav li{
	list-style-type: none;
}

nav > ul::after{
	content: "";
	display: block;
	clear: both;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav b{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{
	float: left;
	position: relative;
	padding: 20px 30px;
	color: #FFF;
}

nav > ul > li > b{
	float: right;
	position: relative;
	padding: 20px 30px;
	color: #FFF;
	background-image:url("Images/bulleted-list.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center center;
}

.submenu{
	display: none;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 14px 10px 0px 0px;
	z-index: 10000;
}

.submenu li{
	border : 1px solid #c03b26;
	border-radius: 25px;
	background-color: white;
	opacity: 0.8;
	margin: 0px 0px 3px 0px;
}

.submenu li:hover{
	opacity: 1;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #c03b26;
	width: 200px;
}

footer{
	background: #ebebeb;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: solid 10px #c03b26;
	display: block;
}

.footerhome{
	bottom: -226px;
}

footer > ul{
	margin: 0;
	padding: 0;
}

footer p{
	float: right;
}

footer > ul > li{
	list-style-type: none;
	float: right;
	position: relative;
	color: #FFF;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

.social-icons .fa {
	font-size: 1.8em;
}

.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}

.social-icons .fa-facebook{
	background-color: #4267b2;
	border: 1.5px solid #4267b2;
	color: white;
} 

.social-icons .fa-twitter{
	background-color: #1da1f2;
	border: 1.5px solid #1da1f2;
	color: white;
} 

.social-icons .fa-youtube-play{
	background-color: #ff0000;
	border: 1.5px solid #ff0000;
	color: white;
} 

.social-icons .fa-linkedin{
	background-color: #0077b5;
	border: 1.5px solid #0077b5;
	color: white;
} 

.social-icons .fa-facebook:hover{
	background-color: #ebebeb;
	color: #4267b2;
}

.social-icons .fa-twitter:hover{
	background-color: #ebebeb;
	color: #1da1f2;
}

.social-icons .fa-youtube-play:hover{
	background-color: #ebebeb;
	color: #ff0000;
}

.social-icons .fa-linkedin:hover{
	background-color: #ebebeb;
	color: #0077b5;
}

.social-icons .fa-apple{
	background-color:#323232;
	border: 1.5px solid #323232;
	color: white;
}

.social-icons .fa-android{
	background-color:#689f38;
	border: 1.5px solid #689f38;
	color: white;
}  

.social-icons .fa-apple:hover{
	background-color: #ebebeb;
	color: #323232;
}

.social-icons .fa-android:hover{
	background-color: #ebebeb;
	color: #689f38;
}

* {
    box-sizing: border-box;
}

.column {
	text-align: center;
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: transparent;
}

fieldset{
	height: 400px;
	border-radius: 30px;
	border-color: #c03b26;
}

form{
	width: 240px;
	margin: auto;
}

.form-column-left{
	text-align: center;
    float: left;
    width: 66.66%;
    padding: 20px 10px 20px 20px;
    list-style: square;

}

.form-column-right{
	text-align: center;
    float: right;
    width: 33.33%;
    padding: 20px 20px 20px 10px;
    list-style: none;

}

.information-column{
	float: left;
	width: 50%;
	padding: 10px;
}

.information-column li{
	list-style: none;
}

iframe { 
    position: absolute;
    top: 408px;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	background: url('Images/Convargo-screen.png') no-repeat;
  	background-size: cover;
  	transition: 1s opacity;
}

ul > li > input{
	height: 40px;
	border-radius: 10px;
	border-color: #c03b26;
}

ul > li > button{
	height: 40px;
	width: 120px;
	border-radius: 7px;
	background-color: #c03b26;
	border-color: #c03b26;
	color: white;

}

.option{
	height: 30px;
	width: 30px;
}

.actor{
	margin-top: 40px;
}

.who{
	color: white;
	margin-top: 10px;
	background-color: #c03b26;
	border: 5px solid #c03b26;
	border-radius: 10px;
}

h2{
	margin-top: 0px;
	margin-bottom: 0px;
}

.about, .blog, .contact{
	text-align: center;
	margin-top: 10px;
}

.column-about{
    float: left;
    width: 33.33%;
    background-color: #c03b26;
    margin-top: 30px;
    border-radius: 50px;
    border: 5px solid white;
}

#presentation{
	text-align: justify;
	padding: 0px 25px 0px 50px;
	color: white;
}

#chiffres{
	text-align: justify;
	padding: 0px 25px 0px 25px;
	color: white;
}

#savoir{
	text-align: justify;
	padding: 0px 50px 0px 25px;
	color: white;
}

#title{
	text-align: center;
	background-color: white;
	color: #c03b26;
	border-radius: 10px;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
}
