body{
	margin: 0;
	padding: 0;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
}

nav{
	width: 100%;
	background-color: #c03b26;
}

nav > ul{
	margin: 0;
	padding: 0;
}

nav li{
	list-style-type: none;
}

nav > ul::after{
	content: "";
	display: block;
	clear: both;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav b{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{
	float: left;
	position: relative;
	padding: 20px 30px;
	color: #FFF;
}

nav > ul > li > b{
	float: right;
	position: relative;
	padding: 20px 30px;
	color: #FFF;
	background-image:url("Images/bulleted-list.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center center;
}

.submenu{
	display: none;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 0;
	z-index: 10000;
}

.submenu li{
	border-bottom: 1px solid #c03b26;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #c03b26;
	width: 200px;
}

footer{
	background: #ebebeb;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: solid 10px #c03b26;
	display: block;
}

footer > ul{
	margin: 0;
	padding: 0;
}

footer p{
	float: right;
}

footer > ul > li{
	list-style-type: none;
	float: right;
	position: relative;
	color: #FFF;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

.social-icons .fa {
	font-size: 1.8em;
}

.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}

.social-icons .fa-facebook{
	background-color: #4267b2;
	color: white;
} 

.social-icons .fa-twitter{
	background-color: #1da1f2;
	color: white;
} 

.social-icons .fa-youtube-play{
	background-color: #ff0000;
	color: white;
} 

.social-icons .fa-linkedin{
	background-color: #0077b5;
	color: white;
} 

.social-icons .fa-facebook:hover{
	background-color: #ebebeb;
	color: #4267b2;
}

.social-icons .fa-twitter:hover{
	background-color: #ebebeb;
	color: #1da1f2;
}

.social-icons .fa-youtube-play:hover{
	background-color: #ebebeb;
	color: #ff0000;
}

.social-icons .fa-linkedin:hover{
	background-color: #ebebeb;
	color: #0077b5;
}

.social-icons .fa-apple{
	background-color:#323232;
	color: white;
}

.social-icons .fa-android{
	background-color:#689f38;
	color: white;
}  

.social-icons .fa-apple:hover{
	background-color: #ebebeb;
	color: #323232;
}

.social-icons .fa-android:hover{
	background-color: #ebebeb;
	color: #689f38;
}

* {
    box-sizing: border-box;
}

.column {
	text-align: center;
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ebebeb;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

form{
	width: 240px;
	margin: auto;
}



